/* Josh"s CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBMPlexSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBMPlexSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBMPlexSans-Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBMPlexSans";
  src: url("/assets/fonts/IBMPlexSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html {
  /* Default font. */
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;

  /* Color variables. */
  --color-bg-base: "#f3f9f8";
  --color-fg-primary: "#071515";
  --color-fg-secondary: "#313938";

  /* Font Variables */
  --font-size-xl: 2.5rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1rem;
  --font-size-xs: .75rem;
}

/* Utility classes. */
.display {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  letter-spacing: -.02rem;
}
.text-xl { font-size: var(--font-size-xl) }
.text-lg { font-size: var(--font-size-lg) }
.text-md { font-size: var(--font-size-md) }
.text-sm { font-size: var(--font-size-sm) }
.text-xs { font-size: var(--font-size-xs) }
.bold { font-weight: bold }
.italic { font-style: italic }
.bg-base { color: var(--color-bg-base) }
.fg-primary { color: var(--color-fg-primary) }
.fg-secondary { color: var(--color-fg-secondary) }
.flex { display: flex }
.flex-col { flex-direction: column }
.gap-1 { gap: .25rem }
.gap-2 { gap: .5rem }
.gap-4 { gap: 1rem }
.mx-auto { margin-left: auto; margin-right: auto }
.max-w-48 { max-width: 48rem }
.py-8 { padding-top: 2rem; padding-bottom: 2rem }
