<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html.jinja" %}
    <title>
      {% if meta.fascicle %}
        {{ meta.fascicle.index }}. {{ meta.fascicle.title }} |
      {% endif %}
      {{ meta.title }}
    </title>
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css?v={{ commit }}" />
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver(entries => {
          entries.forEach(entry => {
            const id = entry.target.getAttribute("id");
            const element = document.querySelector(`#TOC li a[href="#${id}"]`);
            if (entry.intersectionRatio > 0) {
              element.classList.add("active");
            } else {
              element.classList.remove("active");
            }
          });
        });
        const selector = ".pandoc h1[id], .pandoc h2[id], .pandoc h3[id], .pandoc h4[id]";
        document.querySelectorAll(selector).forEach((section) => observer.observe(section));
      });
    </script>
  </head>
  <body>
    <div class="w-content mx-auto py-8 px-6">
      <div class="column">
        <div class="text-sm label mono"><a class="decoration-none fg-primary" href="/">sunset glow</a></div>
        <div class="py-16 flex flex-col gap-8" />
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <h1 class="display text-xxl medium">{{ meta.title }}</h1>
            {% if meta.fascicle %}
            <div class="display text-xl">Fascicle {{ meta.fascicle.index }}: {{ meta.fascicle.title }}</div>
            {% endif %}
          </div>
          <div class="display text-sm fg-secondary italic">{{ meta.timestamp.strftime("%B %-d, %Y") }}</div>
        </div>
        <div class="pandoc">
          {{ body | safe }}
        </div>
        <div class="br-top br-secondary"></div>
        <div class="flex justify-between">
          <div class="text-xs fg-secondary">
            <a href="https://sunsetglow.net/atom.xml" class="fg-secondary">Feed</a>
          </div>
          <div class="text-xs fg-secondary">
            Found an error or typo? PRs welcome! |
            <a href="https://github.com/azuline/sunsetglow/blob/master/src/posts/tex/{{ slug }}.tex" class="fg-secondary">Source</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

