<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.jinja" %}
    <title>{{ meta.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css" />
  </head>
  <body>
    <div class="w-content mx-auto p-8">
      <div class="max-w-36">
        <div class="text-sm label mono"><a class="decoration-none fg-primary" href="/">sunset glow</a></div>
        <div class="py-16" />
        <div class="flex flex-col gap-4">
          <div class="display text-xxl medium">{{ meta.title }}</div>
          <div class="display text-sm italic">{{ meta.timestamp.strftime("%B %-d, %Y") }}</div>
        </div>
        <div class="pb-8 w-full"></div>
        <div class="pandoc">
          {{ body | safe }}
        </div>
        <div class="py-8">
          <div class="br-top br-secondary"></div>
        </div>
        <div class="flex justify-between">
          <div class="text-xs fg-secondary">
            <a href="https://github.com/azuline/sunsetglow/blob/master/src/posts/tex/{{ slug }}.tex" class="fg-secondary">Source</a>
            | Found an error or typo? PRs welcome!
          </div>
          <div class="text-xs fg-secondary">
            <a href="https://sunsetglow.net/atom.xml" class="fg-secondary">Feed</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

