<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/assets/css/global.css?v={{ commit }}" />
<link href="https://sunsetglow.net/posts/atom.xml" type="application/atom+xml" rel="alternate" title="Longform atom feed" />
<link href="https://sunsetglow.net/scribbles/atom.xml" type="application/atom+xml" rel="alternate" title="Shortform atom feed" />
<script defer src="https://ozu.sunsetglow.net/script.js" data-website-id="6519316e-0391-4a7b-ae2a-f308d136b119"></script>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
