<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html.jinja" %}
    <title>sunset glow</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css?v={{ commit }}" />
  </head>
  <body>
    <div class="flex flex-col gap-2 p-4">
      <div>Hi! I'm Michael. Welcome to my homepage on the world wide web! 🌼</div>
      <div>You can reach me at <a href="mailto:contact@sunsetglow.net">contact@sunsetglow.net</a>.</div>
      <div class="flex flex-col gap-1">
        <div class="bold">Find Me Online:</div>
        <ul>
          <li><a href="https://github.com/azuline">github/azuline</a></li>
          <li><a href="https://www.linkedin.com/in/i-am-so-good-at-computer-science/">linkedin/i-am-so-good-at-computer-science</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-1">
        <div class="bold">Writing:</div>
        <ul>
        {% for slug, post in posts.items() %}
          <li>
            <span class="tabular-nums">{{ post.timestamp.strftime("%Y-%m-%d") }}</span> |
            <a href="/posts/{{ slug }}.html">
              {{ post.title }}{% if post.fascicle %}, Fascicle {{ post.fascicle.index }}: {{ post.fascicle.title }}{% endif %}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="flex flex-col gap-1">
        <div class="bold">Software:</div>
        <ul>
          <li><a href="https://github.com/azuline/rose">Rosé</a>, a music management system.</li>
        </ul>
      </div>
      <div>
        <a href="/atom.xml" class="text-xs fg-secondary">(feed)</a>
        <a href="https://github.com/azuline/sunsetglow" class="text-xs fg-secondary">(source)</a>
      </div>
    </div>
  </body>
</html>

