<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.jinja" %}
    <title>sunset glow</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css?v={{ commit }}" />
  </head>
  <body>
    <div class="flex flex-col gap-2 p-4">
      <div>sunset glow</div>
      <div class="flex flex-col gap-1">
        <div class="bold">About:</div>
        <ul>
          <li>I like theology, history, and computing.</li>
          <li>Open to emails and DMs :)</li>
        </ul>
      </div>
      <div class="flex flex-col gap-1">
        <div class="bold">Find Me:</div>
        <ul>
          <li><a href="mailto:blissful@sunsetglow.net">blissful@sunsetglow.net</a></li>
          <li><a href="https://github.com/azuline">github/azuline</a></li>
          <li><a href="https://x.com/hiddenwaterways">twitter/hiddenwaterways</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-1">
        <div class="bold">Writing:</div>
        <ul>
        {% for slug, post in posts.items() %}
          <li>
            <span class="tabular-nums">{{ post.timestamp.strftime("%Y-%m-%d") }}</span> |
            <a href="/posts/{{ slug }}.html">
              {{ post.title }}{% if post.fascicle %}, Fascicle {{ post.fascicle.index }}: {{ post.fascicle.title }}{% endif %}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="flex flex-col gap-1">
        <div class="bold">Software:</div>
        <ul>
          <li><a href="https://github.com/azuline/rose">Rosé</a>, a music management library with CLI and virtual filesystem frontends.</li>
        </ul>
      </div>
      <div class="pt-4">
        <a href="/atom.xml" class="text-xs fg-secondary">(feed)</a>
        <a href="https://github.com/azuline/sunsetglow" class="text-xs fg-secondary">(source)</a>
      </div>
    </div>
  </body>
</html>

